body {
    font-family: monospace, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select,
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.delete-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #ff4444;
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn:hover {
    background: #cc0000;
}

li {
    position: relative;
}

#tripForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#savedTrips {
    width: 90%;
}

#savedTrips #tripList li {
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}

#deleteAllBtn {
    background-color: #cc0000;
}

#counter {
    position: fixed;
    bottom: 2px;
    right: 2px;
    padding: 1rem;
    font-size: 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

strong {
    font-size: 0.95rem;
}